*,
::after,
::before {
  box-sizing: border-box;
}
body {
  background-image: url(img/back.png);
  background-size: cover;
  font-family: "Press Start 2P", cursive;
  position: relative;
}
h2,
p {
  color: white;
}
h2 {
  font-size: 30px;
}
p {
  margin-top: 40px;
  font-size: 10px;
}
canvas {
  /* position: absolute; */
  bottom: 100px;
  right: 200px;
}
