*,
::after,
::before {
  box-sizing: border-box;
}
body {
  background-image: url(img/back.png);
  background-size: cover;
  font-family: "Press Start 2P", cursive;
  position: relative;
}
h2,
p {
  color: white;
}
h2 {
  font-size: 30px;
}
p {
  margin-top: 40px;
  font-size: 10px;
}
#container {
  position: relative;
}

canvas {
  position: absolute;
  right: 200px;
  margin-bottom: 100;
}

#score {
  font-size: 1.5em;
}
