*,
::after,
::before {
  box-sizing: border-box;
}
body {
  background-image: url(img/back.png);
  background-size: 100%;
  background-repeat: no-repeat;
  font-family: "Press Start 2P", cursive;
  color: aquamarine;
  position: relative;
  display: flex;
  flex-direction: row;
}
h2,
p {
  color: white;
}
h2 {
  font-size: 30px;
}
p {
  margin-top: 40px;
  font-size: 13px;
}
#container {
  position: relative;
  padding-left: 30px;
}

#score {
  font-size: 1.5em;
}
#level {
  font-size: 1.5em;
}
/* .game-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
.instruction {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
} */

canvas {
  position: fixed;
  flex: 1;
  right: 30px;
  bottom: 100px;
  top: 30px;
}
li {
  padding-top: 5px;
  padding-bottom: 5px;
}
br {
  padding-top: 10px;
}
button {
  padding: 10px 10px 10px 10px;
  border: none;
  background-color: red;
  color: aliceblue;
}
